<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <label for="goal">Goal</label>
        <input type="text" id="goal" v-model="enteredValue" />
        <!-- v-modelを使用することで、双方向データバインディングが可能になります。 -->
        <button v-on:click="addGoal">Add Goal</button>
        <!-- v-on:clickはクリックイベントをリッスンし、addGoalメソッドを呼び出します。 -->
      </div>
      <ul>
        <li v-for="goal in goals">{{ goal }}</li>
        <!-- v-forは配列をループして各要素を表示するために使用されます。 -->
      </ul>
    </div>
    <!-- CDNのVueを使用する -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>